<div class="col-xs-12 top-nav"><%= link_to "Home", root_url %></div>

<h1><%= @item.name %></h1>

<%= form_for(@order) do |f| %>
  <%= f.fields_for :order_items do |oi| %>
    <%= oi.hidden_field :item_id, :value => @item.id %>
    <div class="col-xs-3"><%= oi.label :quantity %><%= oi.number_field :quantity, value: 1, class: 'form-control', id: 'quantity-select', min: 1 %></div><div class="clearfix"></div>
    <% if @item.participants == true %>
      <%= oi.fields_for :participants do |person| %>
        <div class="col-xs-3" id="lets-play"><%= person.label :name %><%= person.text_field :name, :required => 'required', class: 'form-control' %></div><div class="clearfix"></div>
      <% end %>
    <% end %>  
  <% end %>
 <div class="col-xs-3"><%= f.submit "Buy Now", class: "btn btn-primary" %></div>
<% end %>


